{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <meta charset="UTF-8">
        <title>Salecao</title>
        <link rel="stylesheet" href={% static "bootstrap_cdn/css/bootstrap.css"%}>
        <link rel="stylesheet" href={% static "bootstrap_cdn/css/bootstrap.min.css" %}>
        <link rel="shortcut icon" href="https://img.icons8.com/color/48/000000/stall.png"/>
        <link href="{% static "my_assets/css/home.css" %}" rel="stylesheet">
        <link href="{% static "my_assets/css/main.css" %}" rel="stylesheet">
    {% endblock %}
</head>
<body>
<div class="container-fluid">
    {% block content %}{% endblock %}
</div>
<script src={% static "bootstrap_cdn/js/bootstrap.js" %}></script>
<script src={% static "bootstrap_cdn/js/bootstrap.min.js" %}></script>
<script src={% static "jquery/jquery-3.6.0.min.js" %}></script>
<script src="{% static "my_assets/js/arrow-up.js" %}"></script>
</body>
</html>
