{% block content %}
    <!--
    <div id="comments" class="row">
        <div class="row">
            <h4>Comments</h4>
            <p class="home-subj">What they are saying about us</p>
        </div>
        <div class="row">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-4 p-1">
                                <div class="card" style="width: 15rem;">
                                    <div class="card-body">
                                        <<h5>First slide label</h5>
                                        <p>Some representative placeholder content for the second slide.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 p-1">
                                <div class="card" style="width: 19rem;">
                                    <div class="card-body">
                                        <<h5>Second slide label</h5>
                                        <p>Some representative placeholder content for the second slide.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 p-1">
                                <div class="card" style="width: 19rem;">
                                    <div class="card-body">
                                        <<h5>Third slide label</h5>
                                        <p>Some representative placeholder content for the second slide.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-4 p-1">
                                <div class="card" data-aos="zoom-in-left" style="width: 19rem;">
                                    <div class="card-body">
                                        <<h5>First slide label</h5>
                                        <p>Some representative placeholder content for the second slide.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 p-1">
                                <div class="card" data-aos="zoom-in-left" style="width: 19rem;">
                                    <div class="card-body">
                                        <<h5>Second slide label</h5>
                                        <p>Some representative placeholder content for the second slide.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 p-1">
                                <div class="card" data-aos="zoom-in-left" style="width: 19rem;">
                                    <div class="card-body">
                                        <<h5>Third slide label</h5>
                                        <p>Some representative placeholder content for the second slide.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-4 p-1">
                                <div class="card" data-aos="zoom-in-left" style="width: 19rem;">
                                    <div class="card-body">
                                        <<h5>First slide label</h5>
                                        <p>Some representative placeholder content for the second slide.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 p-1">
                                <div class="card" data-aos="zoom-in-left" style="width: 19rem;">
                                    <div class="card-body">
                                        <<h5>Second slide label</h5>
                                        <p>Some representative placeholder content for the second slide.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4 p-1">
                                <div class="card" data-aos="zoom-in-left" style="width: 19rem;">
                                    <div class="card-body">
                                        <<h5>Third slide label</h5>
                                        <p>Some representative placeholder content for the second slide.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->
    <div id="comments" class="row">
        <div class="row pb-lg-3">
            <h4>Comments</h4>
            <p class="home-subj">What they are saying about us</p>
        </div>
        <div class="row">
            <div class="col-12">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel" style="height: 300px">
                    <div class="carousel-indicators" style="background-color: #FF5D22;">
                        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators2" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="text-center">
                                                <p>With supporting text below as a natural lead-in to additional
                                                content.</p>
                                                <h5>ImageUser1</h5>
                                                <h5>User1</h5>
                                                <h5>Job1</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="text-center">
                                                <p>With supporting text below as a natural lead-in to additional
                                                content.</p>
                                                <h5>ImageUser2</h5>
                                                <h5>User2</h5>
                                                <h5>Job2</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="text-center">
                                                <p>With supporting text below as a natural lead-in to additional
                                                content.</p>
                                                <h5>ImageUser3</h5>
                                                <h5>User3</h5>
                                                <h5>Job3</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="text-center">
                                                <p>With supporting text below as a natural lead-in to additional
                                                content.</p>
                                                <h5>ImageUser4</h5>
                                                <h5>User4</h5>
                                                <h5>Job4</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="text-center">
                                                <p>With supporting text below as a natural lead-in to additional
                                                content.</p>
                                                <h5>ImageUser5</h5>
                                                <h5>User5</h5>
                                                <h5>Job5</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="text-center">
                                                <p>With supporting text below as a natural lead-in to additional
                                                content.</p>
                                                <h5>ImageUser6</h5>
                                                <h5>User6</h5>
                                                <h5>Job6</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}